@use "variables" as *;
@use 'mixins' as *;

@mixin karaktar-card($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: $spacing-medium;
    margin: $spacing-medium 0;
    border-radius: 8px;

    h2{
        margin-bottom: $spacing-medium;
        font-family: $font-heading;
        font-size: 1.5rem;
    }

    p{
        font-family: $font-main;
        line-height: 1.6;
        max-width: 400px;
    }
    
    img{
        width: 100%;
        max-width: 200px;
        display: block;
        margin-bottom: $spacing-small;
        border-radius: 5px;
    }
}

.karaktar{
    &.flash{
        @include karaktar-card($flash-red, $text-dark);
    }

    &.reverse{
        @include karaktar-card($reverse-red, $text-light)
    }
    &.zoom{
        @include karaktar-card($zoom-dark, $text-light)
    }
    &.savitar{
        @include karaktar-card($savitar-dark, $text-light)
    }
}

.karaktar-container{
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-medium;

    .karaktar{
        flex: 1 1 calc(50% - #{$spacing-medium});
    }

    @media (max-width: $breakpoint-mobile) {
        .karaktar{
            flex: 1 1 100%;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .karaktar{
        background-color: $theme-dark-background;
        color: $theme-dark-text;
    }
}