@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin responsive-text($small, $large) {
    font-size: $small;

    @media (min-width: $breakpoint-desktop) {
        font-size: $large;
    }
}