@use 'variables' as *;

$theme: light;

body{
    @if $theme == light{
        background-color: $theme-light-background;
        color: $theme-light-text;
    } else {
        background-color: $theme-dark-background;
        color: $theme-dark-text;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: $theme-dark-background;
        color: $theme-dark-text;
    }
}