body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.container{
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 800px;
    padding-left: 1rem;
    padding-top: 1rem;
}
label{
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
th,td{
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}
th{
    cursor: pointer;
    background-color: #f2f2f2;
    text-decoration: underline;
}
input{
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  table {
    font-size: 0.9rem;
  }

  input {
    width: 100%;
  }

  th, td {
    padding: 0.3rem;
  }
}
